/* .section-center {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
} */
body {
    background-color: #F8F4EA;
}
h1 {
    color: #579BB1;
    text-shadow: 0 0 0px #000;
    text-align: left;
    margin: 50px;
}
.main-info-converter-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 20px; */
    margin-right: 0;
    gap: 1em;
    margin: 20px;
    /* background-color: #ECE8DD; */
}

.main-info-converter-container>* {
    flex: 1;
}

.main-conversion-block {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    height: auto;
    width: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
    /* margin: 20px; */
    margin-right: 0;
    background-color: white;
}

.main-conversion-block>* {
    flex: 1;
}

.sub-main-conversion-block {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    flex-wrap: wrap;
}

/* @media (max-width: 1284px) {
    .sub-main-conversion-block {
        display: block;
    }
} */

/* .sub-main-conversion-block > * {
    flex: 1;
} */

.center-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
}


.left-side-form-control-name,
.right-side-form-control-name {
    display: flex;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    /* padding: 10px; */
    justify-content: space-between;
    position: relative;
}

.input-block {
    /* margin: 7px; */
    border-radius: 5px;
}

.input {
    margin: 10px;
}

.left-side-converion-block {
    margin: 15px;
    flex: 1;
}

.right-side-conversion-block {
    margin: 15px;
    flex: 1;
}

.left-side-form-control-value,
.right-side-form-control-value {
    /* text-align: left; */
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    /* padding: 10px; */
    display: flex;
}

.left-side-form-control-value:hover,
.right-side-form-control-value:hover,
.right-side-form-control-name:hover,
.left-side-form-control-name:hover {
    border: 1px solid black;
}

.right-side-form-control-value {
    text-align: left;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
}


input {
    /* width: 150px; */
    height: 35px;
    font-size: 16px;
    border: none;
    flex: 1;

}

.left-side-btn-container {
    align-items: center;
    display: flex;
}

.right-side-btn-container {
    align-items: center;
    display: flex;
}

.down-side-block-container {
    display: flex;
    align-items: center;
    /* margin: 23px; */
    margin-top: 0px;
    justify-content: space-evenly;
    border-radius: 5px;
    flex-wrap: wrap;
}

.down-side-block-container>* {
    flex: 1;
}

.date-picker-wrapper {
    font-size: 18px;
    margin: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-picker-input {
    padding-right: 16px;
}

@media (max-width: 1025px) {
    .date-picker-input {
        padding: 0;
    }
}

.rate-picker-wrapper {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 22px;
    justify-content: space-between;
}

.rate-picker-input {
    display: flex;
    align-items: center;
    /* margin-left: 27px; */
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
}

.rate-picker-input:hover {
    border: 1px solid black;
}

#date-input {
    width: 150px;
    height: 40px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    text-align: center;
}

#date-input:hover {
    border: 1px solid black;
}

#rate-input {
    font-size: 15px;
    height: 36px;
    width: 50px;
    border: 0px;
    margin-left: 2px;
}


.info-graph-container {
    max-width: 400px;
    border: 1px solid;
    /* margin: 20px;
    margin-left: 0; */
    /* padding: 20px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    background-color: white;
}

.center-swipe-btn {
    font-size: 5px;
    background: none;
    border: none;
    padding: 1px;
}

.btn {
    font-size: 1px;
    background: none;
    border: none;
    padding: 0px;
    margin: 1px;
    
}
.btn-img {
    width: 15px;
}

#exchange-icon_94 {
    width: 30px;

}

.select-menu-wrapper {
    display: flex;
    position: relative;
    margin: 7px;
}

.select-menu-wrapper>* {
    flex: 1;
}

.options {
    position: absolute;
    top: 60%;
    width: 99.6%;
    /* padding-left: 40px;
    padding-right: 40px; */
    max-height: 180px;
    overflow-y: auto;
    background-color: white;
    list-style-type: none;
    visibility: hidden;
    /* display: flex; */
    cursor: pointer;
    /* align-items: center; */
    z-index: 999;
    padding: 0;
    border: 0.5px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (max-width: 1285px) {
    .options {
        width: 99.8%;
    }
}
@media (max-width: 900px) {
    .options {
        width: 99.6%;
    }
}

.options li {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    /* border-radius: 5px; */
    border-bottom: 0.5px solid;
    /* border: 1px solid; */
}
.options li:last-child {
    border: none;
    padding-bottom: none;
}

.options li:hover {
    background-color: #f2f2f2;
}